


.modal,#layer_popup {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0 !important;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.6);
}
/*모달팝업 start*/
/* Modal Content/Box */
.modal-content {
    background-color: #fefefe;
    margin: 8% auto;
    border: 1px solid #888;
    width: 800px;
    height: 870px;
    position: relative;
}
.modal-content>.title{
    text-align: center;
    height: 72px;
    font-size: 21px;
    letter-spacing: -1px;
    line-height: 72px;
    font-weight: 600;
    margin-bottom: 30px;
    background: #f1f1f1;
    border-bottom: solid 1px #e2e2e2;
}
.modal-content.title_pop>.title,
#myModal1 .title{margin-bottom: 24px;}
.modal-content.com{height:657px;}
.modal-content.com>.menu.popup{
  width:258px;
  height:340px;
  padding:0 25px;
  margin-top: 25px;
  border-color: #cdcdcd;
  position:inherit;
}

.wrap_popup_tree{
  width: 300px;
  float:left;
  margin: 0 20px;
  position: relative;
}
.modal-content>.sub_title{padding-left: 20px;}
.wrap_popup_tree>.btn_plus{
  position: absolute;
  right: 0px;
  top: -9px;
  color:#333;
  font-size: 14px;
  box-sizing: border-box;
  border: 1px solid #e0e0e0;
  line-height: normal;
  width: 81px;
  /* height: 34px; */
  padding: 9px 13px;
  text-align: right;
  background: url(../images/btn_plus.png) 15px 50% no-repeat;
  }
/* .wrap_popup_tree>.btn_plus>a>.img_btn_plus{
  content: url(../images/btn_plus.png);
  width: 16px;
  height: 16px;
  margin-right: 8px;
  vertical-align: -2.5px;
} */
.wrap_popup_tree>.btn_plus>a:hover{text-decoration: none;}
.modal-content>.user_search_wrap{
    width: 280px;
    height: 39px;
    margin-bottom: 0;
    padding:15px;
    border-color: #ebebeb;
  }
.modal-content input[type="text"].user,
.modal-content input[type="file"].user{
  width: 172px;
  height: 37px;
  margin: 0 8px 0 0 !important;
  line-height: 36px;
  float: left;
  padding: 0 10px;
  font-size: 14px;
}

.modal-content button[type="button"].user,
.modal-content button[type="submit"].user{
  height: 37px;
  margin: 0 !important;
  line-height: 37px;
  float: left;
}

.fileBox .fileName {display:inline-block;width:190px;height:30px;padding-left:10px;margin-right:5px;line-height:30px;border:1px solid #aaa;background-color:#fff;vertical-align:middle}
.fileBox .btn_file {display:inline-block;border:1px solid #000;width:100px;height:30px;font-size:0.8em;line-height:30px;text-align:center;vertical-align:middle}
.fileBox input[type="file"] {position:absolute;width:1px;height:1px;padding:0;margin:-1px;overflow:hidden;clip:rect(0,0,0,0);border:0}

.modal-content.file_upload.popup_notice {
    width: 380px;
    height: auto;
}
.modal-content.file_upload>.user_search_wrap.popup_notice{
  border: 0;
  width:78%;
  width:-webkit-calc(100% - 96px);
  width:-moz-calc(100% - 96px);
  width:calc(100% - 96px);
  text-align: left;
  margin: 0 auto;
  font-size: 13.5px;
  letter-spacing: -1px;
  display: inherit;
  line-height: 1.8;
}


.modal-content.folder02{
  width: 920px;
    height: 698px;
}
.modal-content.folder02>.menu.popup{
  height:438px;
  margin-top: 14px;
}
.modal-content.folder02>.content.popup{
  width: 559px;
}

.modal-content.folder02  .board.popup td{height:65px; text-align: center;}
.modal-content.folder02 .pagebtn li{margin: 0 2px;}
button.box_close{
  width: 20px;
padding: 0px 0px 5px;
border: solid 1px #d3d3d3;
height: 21px;
line-height: 0;
text-align: center;
display: inline-block;
font-size: 20px;
color: #707070;
background: #f7f7f7;
  }
  @media screen and (min-width:0\0){.box_close{
    width: 18px; line-height: 0.7;}}
/* The Close Button */
button.close,button.close0,button.close1,button.close2,button.close3,button.close4,
button.close5,button.close6,button.close7,button.close8,button.close9
{
    color: #aaa;
    position: absolute;
    top: 0;
    right: 0;
    width: 26px;
    height:26px;
    font-size: 28px;
    margin-right: 23px;
    margin-top: 22px;
    background: url(../images/close.png) no-repeat;
    /*line-height: 1.7;*/
}
.close:hover,.close0:hover,.close1:hover,.close2:hover,.close3:hover,.close4:hover,.close5:hover,.close6:hover,.close7:hover,.close8:hover,.close9:hover,
.close:focus,.close0:focus,.close1:focus,.close2:focus,.close3:focus,.close4:focus,.close5:focus,.close6:focus,.close7:focus,.close8:focus,.close9:focus{
    color: black;
    text-decoration: none;
    cursor: pointer;
}
.menu.popup{
  margin: 15px 20px 20px;
  border: solid 1px #e2e2e2;
  background: #fff;
  width: 260px;
  height: 610px;
  padding:0 20px;
}
.content.popup{
  width: 440px;
  margin:0;
  min-height: auto;
  height: auto;
  display: inline-block;
  padding:0;
}
@media screen and (min-width:0\0){.content.popup{min-height:auto;}}

.content.popup .board{margin-top: 14px; margin-bottom: 46px;}
.content.popup .board:last-child{margin-bottom: 0px;}
.content.popup .board.scroll{height: 440px;width: 100%;overflow-y: auto;}
.button_wrap.popup{
  width: 100%;
  text-align: center;
  margin:30px 0 50px;
  display: inline-block;
}

.button_wrap.popup_title{
  float: left;
  padding:0 75px;
  text-align: center;
  margin:30px 0 0;
}
.button_wrap.popup_title>.button_default:first-child{margin-left: 0px;}
.button_wrap.popup_title>.button_default{margin-left: 4px;}
.board.popup th,
.board.popup td{padding:0px 25px;color:#333;height:50px;}
.text_left td:first-child{text-align: left;}
.board.popup .pagebtn{margin-top: 24px;}

.modal-content.com{width: 350px;}

.modal-content.com.title_pop{width: 360px;height:455px;}
.modal-content>.title_pop_wrap{
    width: 320px;
    height: auto;
    margin: 0 auto;
    /*line-height: 64px;*/
    padding:0 20px 14px;
    float: left;
  }
.modal-content>.title_pop_wrap.padding_bottom0{padding-bottom:0px;}
.modal-content>.title_pop_wrap>button{
  width:107.5px;
  height:38px;
  line-height:1;
  margin: 0;
  border:solid 1px #c7c7c7;
  float: left;
  padding-right: 35px;
  font-size: 14px;
  color: #333;
  background: transparent;
}
.title_select{display: inline-block;}
.title_select>select{
  width: 200px !important;
  height:38px !important;
}
.title_select select{
  /* padding:0.55em 0.8em \0/IE8; */
  padding:8px 0.8em;
  min-height: 38px;
}
.title_select>select,
.modal-content>.title_pop_wrap>input[type="text"]{
  width:200px;
  height:38px;
  /* line-height: 50px; */
  margin:0 0 0 12px!important;
  border-color: #c7c7c7;
  padding:0 15px;
}

input[type="text"].user::-webkit-input-placeholder{/*사파리iOS 팝업 플레이스 홀더 상단 간격 조정*/
  line-height: normal;
  padding-top: 8px;
}
  .popup_group{
    width: 270px;
    height:310px;
    margin: 24px 20px 0 19px;
    padding: 15px 20px;
    background: none;
    position:relative;
    top:0;
  }


.wrap_popup_tree .popup_folder,.popup_folder{
  /*top: 138px;*/
  width: 259px;
  height:406px;
  margin: 14px 0px 0;
  padding: 15px 20px;
  background: none;
  position: static;
}
.fixed_sidemenu {
    border: 1px solid #e0e0e0;
}

.modal-content.file_upload{width: 423px; height:355px;}
.modal-content.file_info{width: 623px; height:auto;}
.modal-content.file_upload>.user_search_wrap>.button_default{
  width: 85px;height: 36px;line-height: 36px;margin: 0!important;
  background: #f3f6ff;
  font-size: 14px;
  border-color: #cccccc;
  padding-right: 1px;
}
@media screen and (min-width:0\0){.modal-content.file_upload>.user_search_wrap>.button_default{
  height:36px;}}

.modal-content.file_upload>.user_search_wrap {
  width: 383px;
  display: inline-block;
  padding: 0px 0px ;
  height: auto;
  margin: 0 20px 0;
  background: none;
  border: 0;
  border-top: solid 2px #4283df;
}
.modal-content.file_upload>.user_search_wrap>li {
  width: 60px;
  padding-left: 20px;
  float: left;
  text-align: left;
  font-size: 14.5px;
  height:63px;
  line-height: 61px;
  border-bottom: solid 1px #ebebeb;
}
.modal-content.file_upload>.user_search_wrap>.fileBox_title {
  background: #f7f7f9;
}
.modal-content.file_upload>.user_search_wrap>.fileBox_info {
  width: 262px;
  padding-right: 20px;
}
html>body .modal-content.file_upload input.user{width:218px;margin-top: 13px !important;}

.modal-content.file_upload .btn_file{
  margin: 0!important;
  height: 38px;
  width:87px;
  line-height: 38px;
  font-size:14.5px;
  background: #f3f6ff;
  color:#333;
  border: solid 1px #ccc;
}
.modal-content.file_upload .btn_file:last-child{margin-left: 6px !important;}

.modal-content.file_upload input[type="text"].user{
    width: 260px;
    padding:0 15px;
    border-color:#ccc;
}
.file_upload_info{ margin: 12px 20px 0px;}
.file_upload_info>p{
  color: #696969;
  font-size: 14px;
}



.modal-content.delay{width: 424px;height:530px;}

.modal-content.delay>.user_search_wrap{
  width: 330px;
  height: 90px;
  padding: 25px;
}
.modal-content.delay>.user_search_wrap>.user_center{
  text-align: left;
  width: 100%;
  height: auto;
  font-size: 13.4px;
  font-weight: 600;
  font-family: 'malgun gothicb';
  line-height: 1.6;
  color: #333333;
  letter-spacing:-0.5px;
}
.bulet{vertical-align: 2px; margin-right: 6px;}
.width160{width:160px !important;}
.logtime{text-align:center;margin: 40px Auto 68px;}
.logtime>span,
.logtime>.time,
.logtime>.time>span,
.logtime>p>span{color: #4283df;}
.logtime>.time{
  font-size: 57px;
  color: #4283df;
  margin: 0;
  font-family: 'nanum-squre-bold';
}
.logtime>p,
.logtime>p>span{font-weight: 600;font-family: 'malgun gothicb';font-size: 14.5px;}
.logtime>.time>span{font-size: 60px;font-family: 'nanum-squre-bold';}
.logtime>p{position: relative;
    top: 20px;}

.modal-content.delay .user_search_wrap{border: 0;}
.modal-content.delay .button_wrap.popup{position: initial;}
/*모달팝업 end*/
